.container {
    position: absolute;
    top: 35px;
    right: 0;
    width: auto;
    background-color: white;
    border: 1px solid gainsboro;
    border-radius: 5px;
    z-index: 1;

    .form-check {
        cursor: pointer;

        label {
            cursor: pointer;
        }
    }

}