@media only screen and (max-width: 800px) {
    .map-worker{
       flex-direction: column;
       .health-worker-table{
        margin-left: 0px !important;
        margin-top: 20px;
    }
    }
}

.map-worker{
    width: 80%;
    display: flex;
    .health-worker-table{
        margin-left: 20px;
    }
}